name: Build and Push (Build Cloud)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  IMAGE: lzycmcy/orion_my
  BUILDER_ENDPOINT: lzycmcy/lzymy

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: lzycmcy
          password: ${{ secrets.LZYCMCY }}

      - name: Set up Docker Buildx (Cloud)
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: ${{ env.BUILDER_ENDPOINT }}

      - name: Debug builders
        run: |
          docker buildx version
          docker buildx ls
          docker buildx inspect "${{ steps.buildx.outputs.name }}"

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64
          tags: ${{ env.IMAGE }}:latest

